{
    "target": "linux/amd64",
    "http": "0.0.0.0:${DEFAULT_SYZ_HTTP_INTERNAL_PORT}",
    "workdir": "${SYZKALLER_WORKDIR}",
    "kernel_obj": "${KERNEL_BUILD_DIR}",
    "kernel_src": "${KERNEL_DIR}",
    "image": "${IMAGE_PATH}",
    "sshkey": "${SSH_KEY_PATH}",
    "ssh_user": "root",
    "syzkaller": "${SYZKALLER_DIR}",
    "procs": 16,
    "type": "qemu",
    "sandbox": "none",
    "cover": true,
    "execprog_bin_on_target": "/bin/linux_amd64/syz-execprog",
    "executor_bin_on_target": "/bin/linux_amd64/syz-executor",
    "vm": {
	"qemu": "${QEMU_BUILD_DIR}/usr/bin/qemu-system-x86_64",
        "count": 4,
        "qemu_args": "-enable-kvm",
        "kernel": "${KERNEL_BZIMAGE}",
        "cpu": 4,
        "cmdline": "root=/dev/sda3",
        "mem": 4096
    },
    "enable_syscalls": [
        "openat${DOL_SIGN}gpiochip",
        "read${DOL_SIGN}gpiochip",
        "ioctl${DOL_SIGN}GPIO_GET_CHIPINFO_IOCTL",
        "ioctl${DOL_SIGN}GPIO_V2_GET_LINEINFO_IOCTL",
        "ioctl${DOL_SIGN}GPIO_V2_GET_LINEINFO_WATCH_IOCTL",
        "ioctl${DOL_SIGN}GPIO_GET_LINEINFO_UNWATCH_IOCTL",
        "ioctl${DOL_SIGN}GPIO_V2_GET_LINE_IOCTL",
        "ioctl${DOL_SIGN}GPIO_GET_LINEHANDLE_IOCTL",
        "ioctl${DOL_SIGN}GPIO_GET_LINEEVENT_IOCTL",
        "ioctl${DOL_SIGN}GPIO_GET_LINEINFO_IOCTL",
        "ioctl${DOL_SIGN}GPIO_GET_LINEINFO_WATCH_IOCTL",
        "ioctl${DOL_SIGN}GPIO_V2_LINE_GET_VALUES_IOCTL",
        "ioctl${DOL_SIGN}GPIO_V2_LINE_SET_VALUES_IOCTL",
        "ioctl${DOL_SIGN}GPIO_V2_LINE_SET_CONFIG_IOCTL",
        "read${DOL_SIGN}gpio_linereq",
        "ioctl${DOL_SIGN}GPIOHANDLE_GET_LINE_VALUES_IOCTL",
        "ioctl${DOL_SIGN}GPIOHANDLE_SET_LINE_VALUES_IOCTL",
        "ioctl${DOL_SIGN}GPIOHANDLE_SET_CONFIG_IOCTL",
        "ioctl${DOL_SIGN}GPIOHANDLE_GET_LINE_VALUES_IOCTL_event",
        "read${DOL_SIGN}gpio_lineevent",
        "mkdirat${DOL_SIGN}gpio_sim_dev",
        "mkdirat${DOL_SIGN}gpio_sim_bank",
        "mkdirat${DOL_SIGN}gpio_sim_line",
        "mkdirat${DOL_SIGN}gpio_sim_hog",
        "rmdir${DOL_SIGN}gpio_sim_dev",
        "rmdir${DOL_SIGN}gpio_sim_bank",
        "rmdir${DOL_SIGN}gpio_sim_line",
        "rmdir${DOL_SIGN}gpio_sim_hog",
        "openat${DOL_SIGN}gpio_sim_live",
        "openat${DOL_SIGN}gpio_sim_num_lines",
        "openat${DOL_SIGN}gpio_sim_label",
        "openat${DOL_SIGN}gpio_sim_line_name",
        "openat${DOL_SIGN}gpio_sim_hog_name",
        "openat${DOL_SIGN}gpio_sim_hog_direction",
        "openat${DOL_SIGN}gpio_sim_read",
        "openat${DOL_SIGN}gpio_sim_pull",
        "openat${DOL_SIGN}gpio_sim_value",
        "openat${DOL_SIGN}gpio_sim_unbind",
        "openat${DOL_SIGN}gpio_sim_bind",
        "write${DOL_SIGN}gpio_sim_live",
        "write${DOL_SIGN}gpio_sim_num_lines",
        "write${DOL_SIGN}gpio_sim_label",
        "write${DOL_SIGN}gpio_sim_line_name",
        "write${DOL_SIGN}gpio_sim_hog_name",
        "write${DOL_SIGN}gpio_sim_hog_direction",
        "write${DOL_SIGN}gpio_sim_pull",
        "write${DOL_SIGN}gpio_sim_unbind",
        "write${DOL_SIGN}gpio_sim_bind",
        "read${DOL_SIGN}gpio_sim_sysfs",
        "openat${DOL_SIGN}gpio_aggr_new",
        "openat${DOL_SIGN}gpio_aggr_del",
        "write${DOL_SIGN}gpio_aggr_new_chip",
        "write${DOL_SIGN}gpio_aggr_new_range",
        "openat${DOL_SIGN}gpio_aggr_new",
        "openat${DOL_SIGN}gpio_aggr_del",
        "write${DOL_SIGN}gpio_aggr_new_chip",
        "write${DOL_SIGN}gpio_aggr_new_range",
        "write${DOL_SIGN}gpio_aggr_new_multi",
        "write${DOL_SIGN}gpio_aggr_new_named",
        "write${DOL_SIGN}gpio_aggr_new_bad",
        "write${DOL_SIGN}gpio_aggr_del",
        "write${DOL_SIGN}gpio_aggr_new_multi",
        "write${DOL_SIGN}gpio_aggr_new_named",
        "write${DOL_SIGN}gpio_aggr_new_bad",
        "write${DOL_SIGN}gpio_aggr_del"
    ],
    "cover_filter": {
        "files": [
            "^drivers/gpio/*"
        ]
    }
}
