{
    "target": "linux/amd64",
    "http": "0.0.0.0:${DEFAULT_SYZ_HTTP_INTERNAL_PORT}",
    "workdir": "${SYZKALLER_WORKDIR}",
    "kernel_obj": "${KERNEL_BUILD_DIR}",
    "kernel_src": "${KERNEL_DIR}",
    "image": "${IMAGE_PATH}",
    "sshkey": "${SSH_KEY_PATH}",
    "ssh_user": "root",
    "syzkaller": "${SYZKALLER_DIR}",
    "procs": 16,
    "type": "qemu",
    "sandbox": "none",
    "cover": true,
    "execprog_bin_on_target": "/bin/linux_amd64/syz-execprog",
    "executor_bin_on_target": "/bin/linux_amd64/syz-executor",
    "vm": {
	"qemu": "${QEMU_BUILD_DIR}/usr/bin/qemu-system-x86_64",
        "count": 4,
        "qemu_args": "-enable-kvm -device i6300esb",
        "kernel": "${KERNEL_BZIMAGE}",
        "cpu": 4,
        "cmdline": "root=/dev/sda3 watchdog.handle_boot_enabled=0",
        "mem": 4096
    },
    "enable_syscalls": [
        "openat${DOL_SIGN}watchdog",
        "openat${DOL_SIGN}watchdog_sysfs*",
        "openat${DOL_SIGN}watchdog_timeout",
        "openat${DOL_SIGN}watchdog_pretimeout",
        "openat${DOL_SIGN}watchdog_pretimeout_governor",
        "openat${DOL_SIGN}watchdog_module_param",
        "read${DOL_SIGN}watchdog_sysfs",
        "write${DOL_SIGN}watchdog_*",
        "ioctl${DOL_SIGN}WDIOC_*",
        "openat${DOL_SIGN}i6300esb*",
        "write${DOL_SIGN}i6300esb_*"
    ],
    "cover_filter": {
        "files": [
            "^drivers/watchdog/*"
        ]
    }
}
